In [1]:
# Support Vector Classifier model

In [1]:
#import libraries
import pandas as pd

In [2]:
#Read the data and create a copy
LoanData = pd.read_csv("01Exercise1.csv")

In [3]:
LoanPrep = LoanData.copy()

In [4]:
#identify the missing values

In [5]:
LoanPrep.isnull().sum(axis=0)

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [6]:
# droping the rows with missing values

In [7]:
LoanPrep = LoanPrep.dropna()

In [8]:
LoanPrep

     gender married   ch  income  loanamt status
1      Male     Yes  1.0    4583    128.0      N
2      Male     Yes  1.0    3000     66.0      Y
3      Male     Yes  1.0    2583    120.0      Y
4      Male      No  1.0    6000    141.0      Y
5      Male     Yes  1.0    5417    267.0      Y
..      ...     ...  ...     ...      ...    ...
609  Female      No  1.0    2900     71.0      Y
610    Male     Yes  1.0    4106     40.0      Y
611    Male     Yes  1.0    8072    253.0      Y
612    Male     Yes  1.0    7583    187.0      Y
613  Female      No  0.0    4583    133.0      N

[529 rows x 6 columns]

In [9]:

# Drop the irrelevant column of gender
LoanPrep = LoanPrep.drop(["gender"],axis=1)

In [10]:
#Create dummy variable for categorical variables
LoanPrep.dtypes

LoanPrep = pd.get_dummies(LoanPrep, drop_first=True)

In [11]:
#Normalize the data for loanamt and income using standard scaler

from sklearn.preprocessing import StandardScaler
scalar_ = StandardScaler()
LoanPrep['income'] = scalar_.fit_transform(LoanPrep[['income']])
LoanPrep['loanamt'] = scalar_.fit_transform(LoanPrep[['loanamt']])

In [12]:
LoanPrep

      ch    income   loanamt  married_Yes  status_Y
1    1.0 -0.128073 -0.194250            1         0
2    1.0 -0.392077 -0.971015            1         1
3    1.0 -0.461621 -0.294478            1         1
4    1.0  0.108246 -0.031380            0         1
5    1.0  0.011017  1.547205            1         1
..   ...       ...       ...          ...       ...
609  1.0 -0.408754 -0.908372            0         1
610  1.0 -0.207624 -1.296754            1         1
611  1.0  0.453802  1.371807            1         1
612  1.0  0.372249  0.544929            1         1
613  0.0 -0.128073 -0.131608            0         0

[529 rows x 5 columns]

In [21]:
#Build the logistic regression model

In [22]:
# Create the X (Independent) and Y (Dependent) dataframes

In [13]:
Y = LoanPrep[['status_Y']]
X = LoanPrep.drop(['status_Y'], axis=1)

In [26]:
# Split the X and Y dataset into training and testing set

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3, random_state=1234, stratify=Y)

In [15]:
#Build the Support Vector Classifier

In [16]:
from sklearn.svm import SVC

In [18]:
svc = SVC()

In [19]:
svc.fit(X_train,Y_train)

/usr/local/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [20]:
Y_predict =svc.predict(X_test)

In [21]:
Y_predict

array([0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1], dtype=uint8)

In [22]:
Y_test

     status_Y
373         0
464         0
3           1
262         0
401         0
..        ...
360         0
71          1
96          1
388         1
270         1

[159 rows x 1 columns]

In [38]:
# Build the confusion matrix and get the accuracy/score

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
cm = confusion_matrix(Y_test,Y_predict)

In [25]:
cm

array([[ 27,  22],
       [  1, 109]])

In [26]:
score = svc.score(X_test,Y_test)

In [27]:
score

0.8553459119496856